name: Build and Deploy .NET Desktop

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x

    - uses: microsoft/setup-msbuild@v2

    - name: Build & Package
      run: msbuild $env:Wap_Project_Path /p:Configuration=Release /p:AppxBundle=Always /p:UapAppxPackageBuildMode=StoreUpload

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: MSIX Package
        path: ${{ env.Wap_Project_Directory }}\AppPackages
