name: Build .NET

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.0.x
        
    - name: Restore
      run: dotnet restore book-manager.sln
    
    - name: Build
      run: dotnet build book-manager.sln --configuration Release
    
    - name: Publish
      run: dotnet publish book-manager.sln --configuration Release --output ./publish

    - uses: actions/upload-artifact@v4
      with:
        name: Publish
        path: ./publish
